PidFile=/run/zabbix/zabbix_agentd.pid

LogFile=/var/log/zabbix-agent/zabbix_agentd.log

LogFileSize=0

Server={{ zabbix_server }}

ServerActive={{ zabbix_server }}

Include=/etc/zabbix/zabbix_agentd.conf.d/*.conf

Hostname = {{ ansible_hostname }}

TLSConnect=psk
TLSAccept=psk
TLSPSKFile=/etc/zabbix/agent.psk
TLSPSKIdentity=agent